/*
 * Copyright (c) 2021 Jonathan Hahn
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f1/stm32f103Xb.dtsi>
#include <st/f1/stm32f103c(8-b)tx-pinctrl.dtsi>

/ {
	model = "openpilot_cc3d board";
	compatible = "openpilot,cc3d";

	chosen {
		zephyr,console = &usart3;
		zephyr,shell-uart = &usart3;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpiob 3 GPIO_ACTIVE_HIGH>;
			label = "User LED0";
		};
	};

	aliases {
		userled0 = &led0;
		rc-uart = &usart1;
	};
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
};

&pll {
	mul = <9>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(72)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <2>;
	apb2-prescaler = <1>;
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&usart3 {
	pinctrl-0 = <&usart3_tx_pb10 &usart3_rx_pb11>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&spi1 {
	pinctrl-0 = <&spi1_nss_master_pa4 &spi1_sck_master_pa5
					&spi1_miso_master_pa6 &spi1_mosi_master_pa7>;
	pinctrl-names = "default";
	cs-gpios = <&gpioa 04 GPIO_ACTIVE_LOW>;
	clock-frequency = < DT_FREQ_M(1) >;
	status = "okay";

	imu: mpu6000@0 {
		compatible = "invensense,mpu6000";
		reg = <0>;
		spi-max-frequency = < DT_FREQ_M(1) >;
		label = "MPU-6000";
		status = "okay";
	};
};

&spi2 {
	pinctrl-0 = <&spi2_nss_master_pb12 &spi2_sck_master_pb13
		     &spi2_miso_master_pb14 &spi2_mosi_master_pb15>;
	pinctrl-names = "default";
	status = "okay";
};

&timers1 {
	pwm2: pwm {
		status = "okay";
		pinctrl-0 = <&tim1_ch1_pwm_pa8>;
		pinctrl-names = "default";
	};
};

&timers2 {
	pwm4: pwm {
		status = "okay";
		pinctrl-0 = <&tim2_ch3_pwm_pa2>;
		pinctrl-names = "default";
	};
};

&timers3 {
	pwm3: pwm {
		status = "okay";
		pinctrl-0 = <&tim3_ch1_pwm_pb4>;
		pinctrl-names = "default";
	};
};

&timers4 {
	status = "okay";
	pwm1: pwm {
		status = "okay";
		pinctrl-0 = <&tim4_ch4_pwm_pb9 &tim4_ch3_pwm_pb8 &tim4_ch2_pwm_pb7>;
		pinctrl-names = "default";
	};
};

&usb {
	pinctrl-0 = <&usb_dm_pa11 &usb_dp_pa12>;
	pinctrl-names = "default";
};

&adc1 {
	pinctrl-0 = <&adc1_in0_pa0>;
	pinctrl-names = "default";
};
