menuconfig MPU6000_DRIVER
	bool "MPU6000 SPI driver"
	help
	  Enable MPU6000 SPI drivers.

if MPU6000_DRIVER

config MPU6000_AFS_SEL
	int "Accelerometer Full Scale Selection"
	range 0 3
	default 1
	help
	  This option allows to select the accelerometer range of this sensor.
	  0 -  2g
	  1 -  4g
	  2 -  8g
	  3 - 16g

config MPU6000_FS_SEL
	int "Gyrometer Full Scale Selection"
	range 0 3
	default 1
	help
	  This option allows to select the gyrometer range of this sensor.
	  0 -  250 deg/s
	  1 -  500 deg/s
	  2 - 1000 deg/s
	  3 - 2000 deg/s 

config MPU6000_DLPF_CONFIG
	int "Digital Low Pass filter settings"
	range 0 6
	default 0
	help
	  This option allows to configure the integrated digital low pass filter
	  0 - disabled
	  1 - acc: 184 Hz, gyro: 188 Hz
	  2 - acc:  94 Hz, gyro:  89 Hz
	  3 - acc:  44 Hz, gyro:  42 Hz
	  4 - acc:  21 Hz, gyro:  20 Hz
	  5 - acc:  10 Hz, gyro:  10 Hz
	  6 - acc:   5 Hz, gyro:   5 Hz

endif # MPU6000_DRIVER
