/ {
    aliases {
        rc-uart = &usart2;
    };
};

&pwm1 {
    //pinctrl-0 = <&tim1_ch1_pa8 &tim1_ch2_pa9 &tim1_ch3_pa10 &tim1_ch4_pe14>;
    pinctrl-0 = <&tim1_ch1n_pe8 &tim1_ch2n_pe10 &tim1_ch3n_pe12 &tim1_ch4_pe14>;
};

&usart2 {
    half-duplex;
};

&i2c1 {
    /delete-node/ lsm303agr-magn@1e;
    /delete-node/ lsm303agr-accel@19;

	mag0: lsm303agr-magn@1e {
		compatible = "st,lis2mdl", "st,lsm303agr-magn";
		reg = <0x1e>;
		label = "LSM303AGR-MAGN";
	};

    acc0: lsm303agr-accel@19 {
		compatible = "st,lis2dh", "st,lsm303agr-accel";
		reg = <0x19>;
		irq-gpios = <&gpioe 4 GPIO_ACTIVE_HIGH>,
			  <&gpioe 5 GPIO_ACTIVE_HIGH>;
		label = "LSM303AGR-ACCEL";
	};
};

&spi1 {
    /delete-node/ i3g4250d@0;
    
    gyro0: i3g4250d@0 {
		compatible = "st,i3g4250d";
		reg = <0>;
		spi-max-frequency = <1000000>;
		label = "I3G4250D";
	};
};
