# Copyright (c) 2022 Jonathan Hahn
# SPDX-License-Identifier: Apache-2.0

menu "Libraries"

rsource "com/Kconfig"
rsource "control/Kconfig"
rsource "mixer/Kconfig"
rsource "simulator_connection/Kconfig"

endmenu
